<div class="container-fluid bg-breadcrumb">
  <div class="text-center row justify-content-center align-content-center ">
    <div class="col-lg-6">
      <i class="fa-regular fa-triangle-exclamation display-1 text-primary"></i>
      <h1 class="display-1 text-light">404</h1>
      <h1 class="mb-4 text-primary">Page Not Found</h1>
      <p class="mb-4 text-white">We couldn't find what you're looking for. But don't worry, you can always head back
        home and start fresh!</p>
      <a class="btn btn-outline-primary rounded-pill py-3 px-5" routerLink="/home">Go Back To Home</a>
    </div>
  </div>
</div>
