<!-- Home Start -->
<header class="container-fluid pt-xl-5 mt-5">
  <div class="row header__container px-xl-5 px-4" id="home">
    <div class="col-lg-6 col-md-12 pe-xl-0  py-auto">
      <img src="assets/images/header.png"
        alt="header-image" />
    </div>
    <div class="col-lg-6 col-md-12 pt-lg-5 px-md-5">
      <h1 class="display-5 my-xl-3">FAST AND EASY WAY TO RENT A CAR</h1>
      <div class="line rounded-5"></div>
      <p class="fs-6 text-muted">
        Discover <strong class="text-primary">EasyWayRent Tunisie</strong>, your go-to car rental service in
        Tunisia! Choose from a wide range of vehicles and
        enjoy exclusive local offers..
      </p>
      <div class="text-center mt-4 header-links">
        <div class="d-flex align-items-center justify-content-start">
          <a href="https://www.facebook.com" class="btn btn-light btn-sm-square rounded-circle me-3" target="_blank"><i
              class="fab fa-facebook-f"></i></a>
          <a href=" https://x.com" class="btn btn-light btn-sm-square rounded-circle me-3" target="_blank"><i
              class="fa-brands fa-x-twitter"></i></a>
          <a href="https://www.instagram.com" class="btn btn-light btn-sm-square rounded-circle me-3" target="_blank"><i
              class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com" class="btn btn-light btn-sm-square rounded-circle me-0" target="_blank"><i
              class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Home End -->

<!--About Start-->
<section class="mt-5 py-5 feat-sec">
  <section class="py-lg-16 py-6">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class=" col-xxl-5  col-xl-6 col-lg-6 col-12 mb-3">
          <div>
            <h1 class="display-5 fw-bold mb-3">Who <span class="text-primary">EasyWayRent</span> are ?</h1>
            <div class="line rounded-5"></div>
            <p class="lead mb-4 text-secondary-emphasis">We know the difference is in the details and that’s why our car
              rental services, in the tourism and business industry,
              stand out for their quality and good taste.</p>
            <ul class="list-unstyled mb-5">
              <li class="mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="var(--bs-primary)"
                  class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
                  </path>
                </svg>
                <span class="ms-2">We working since 2010 with +1000 customers</span>
              </li>
              <li class="mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="var(--bs-primary)"
                  class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
                  </path>
                </svg>
                <span class="ms-2">All brand & type cars in our garage</span>
              </li>
              <li class="mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="var(--bs-primary)"
                  class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
                  </path>
                </svg>
                <span class="ms-2">+10 picking locations around the world</span>
              </li>
            </ul>
            <a routerLink="/about" class="btn btn-primary rounded-5">Know more</a>
          </div>
        </div>
        <div class="col-xxl-5 offset-xxl-1 col-xl-6 col-lg-6 col-12 d-lg-flex justify-content-end">
          <img src="assets/images/location.png" alt="online course"
            class="img-fluid rounded-4 w-100 z-1 position-relative mt-sm-4" loading="lazy">
        </div>
      </div>
    </div>
  </section>
</section>
<!--About End-->

<!--Steps Start-->
<section class="container mt-5 py-5">
  <div class="mx-auto pb-5 text-center mb-5" style="max-width: 800px;">
    <h5 class="text-capitalize mb-3 text-primary">HOW IT WORKS</h5>
    <h3 class="mb-0 display-6">Rentgo following 3 working steps</h3>
  </div>
  <!--first section-->
  <div class="row align-items-center how-it-works d-flex">
    <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
      <div class="circle font-weight-bold z-2 text-light btn btn-primary rounded-circle py-2 px-3">1</div>
    </div>
    <div class="col-6 step">
      <h5>Choose a location</h5>
      <p>Select your desired rental location from our extensive network of car rental spots.</p>
    </div>
  </div>
  <!--path between 1-2-->
  <div class="row timeline">
    <div class="col-2">
      <div class="corner top-right"></div>
    </div>
    <div class="col-8">
      <hr />
    </div>
    <div class="col-2">
      <div class="corner left-bottom"></div>
    </div>
  </div>
  <!--second section-->
  <div class="row align-items-center justify-content-end how-it-works d-flex">
    <div class="col-6 text-right step">
      <h5>Pick-up date</h5>
      <p>Specify the date and time you wish to pick up your car with flexible scheduling options.</p>
    </div>
    <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
      <div class="circle font-weight-bold z-2 text-light btn btn-primary rounded-circle py-2 px-3">2</div>
    </div>
  </div>
  <!--path between 2-3-->
  <div class="row timeline">
    <div class="col-2">
      <div class="corner right-bottom"></div>
    </div>
    <div class="col-8">
      <hr />
    </div>
    <div class="col-2">
      <div class="corner top-left"></div>
    </div>
  </div>
  <!--third section-->
  <div class="row align-items-center how-it-works d-flex">
    <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
      <div class="circle font-weight-bold z-2 text-light btn btn-primary rounded-circle py-2 px-3">3</div>
    </div>
    <div class="col-6 step">
      <h5>Book your car</h5>
      <p>Browse through our wide range of vehicles and choose the one that best suits your needs.</p>
    </div>
  </div>
</section>
<!--Steps End-->

<!--Text Scroll Start-->

<app-text-scroll></app-text-scroll>

<!--Text Scroll End-->

<!--Carousel Start-->

<section class="container mt-5 py-5 d-flex justify-content-center align-items-center">
<app-carousel></app-carousel>
</section>

<!--Carousel End-->


<!--Services Start-->

<div class="mx-auto py-5 text-center mb-2" style="max-width: 800px;">
  <h5 class="text-capitalize mb-3 text-primary">OUR SERVICES</h5>
  <h3 class="mb-0 display-6">We provide the best services</h3>
</div>
<app-parallax></app-parallax>

<!--Services End-->
