<footer class="footer pt-5 mt-5">
  <div class="container">
    <div class="row d-flex justify-content-center  g-lg-5 g-1">
      <!-- Company Info -->
      <div class="col-lg-4 col-md-12">
        <h3 class="footer-title">EasyWayRent</h3>
        <p class="mb-4">We strive to revolutionize car rental experiences through digital innovation, offering reliable
          and efficient mobility
          solutions for everyone.</p>
        <p class="footer-title">Follow us</p>
        <div class="social-links mb-4">
          <a href="https://www.facebook.com" class="btn btn-light btn-sm-square rounded-circle me-3 border-0"
            target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href=" https://x.com" class="btn btn-light btn-sm-square rounded-circle me-3 border-0" target="_blank"><i
              class="fa-brands fa-x-twitter"></i></a>
          <a href="https://www.instagram.com" class="btn btn-light btn-sm-square rounded-circle me-3 border-0"
            target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com" class="btn btn-light btn-sm-square rounded-circle me-0 border-0"
            target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

      <!-- Quick Links -->
      <div class="col-lg-4 col-md-12">
        <h3 class="footer-title">Quick Links</h3>
        <ul class="footer-links text-nowrap">
          <li><a routerLink="/about"><i class="fa fa-angle-right text-white me-2"></i>About Us</a></li>
          <li><a routerLink="/services"><i class="fa fa-angle-right text-white me-2"></i>Services</a></li>
          <li><a routerLink="/cars"><i class="fa fa-angle-right text-white me-2"></i>Cars</a></li>
          <li><a routerLink="/contact"><i class="fa fa-angle-right text-white me-2"></i>Contact</a></li>
        </ul>
      </div>
      <!-- Contact Info -->
      <div class="col-lg-4 col-md-12">
        <h3 class="footer-title">Get in touch</h3>
        <ul class="footer-links text-nowrap">
          <li class="d-flex align-content-center"><i class="fa-solid fa-phone me-4"></i>
            <p>(+216) 29 292 929</p>
          </li>
          <li class="d-flex align-content-center"><i class="fa-solid fa-envelope me-4"></i>
            <p>easywayrent&#64;contact.com
            </p>
          </li>
          <li class="d-flex align-content-center"><i class="fa-solid fa-location-dot me-4"></i>
            <p>198, Rue 21 Mars, Sousse, Tunisia</p>
          </li>

        </ul>
      </div>

    </div>
  </div>

  <!-- Footer Bottom -->
  <div class="footer-bottom mt-5">
    <div class="container">
      <div class="row py-3">
        <p class="text-center text-light">
          © {{ currentYear }} <a routerLink="/home" class="text-primary fw-bold">EasyWayRent Tunisie</a>, All rights
          reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
