.logos-scroll {
  position: relative;
  overflow: hidden;
  background-color: var(--bs-secondary);
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-inline: auto;
  position: relative;
  height: 120px;
  margin-top: 3rem;
  overflow: hidden;
}
.wrapper:hover .item {
  animation-play-state: paused;
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  position: absolute;
  left: max(calc(200px * 9), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(30s / 9 * (9 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 9 * (9 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 9 * (9 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 9 * (9 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 9 * (9 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 9 * (9 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 9 * (9 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 9 * (9 - 8) * -1);
}
.item9 {
  animation-delay: calc(30s / 9 * (9 - 9) * -1);
}
@media (max-width: 992px) {
  img {
    width: 4rem;
    height: 4rem;
  }
  .wrapper {
    margin-top: 2rem;
    height: 80px;
  }
  .item {
    left: max(calc(150px * 9), 100%);
  }
}
