<div class="logos-scroll text-center my-5">
  <p class="mb-3 text-primary pt-5 display-6">RENT BY BRANDS</p>
  <div class="wrapper mb-2">
    <img width="100" height="100" src="assets/cars-brand/jeep.svg" alt="jeep" class="item item1" loading="lazy"/>
    <img width="100" height="100" src="assets/cars-brand/volkswagen.svg" alt="volkswagen"
      class="item item2" loading="lazy"/>
    <img width="100" height="100" src="assets/cars-brand/kia.svg" alt="kia" class="item item3" loading="lazy"/>
    <img width="100" height="100" src="assets/cars-brand/toyota.svg" alt="toyota"
      class="item item4" loading="lazy"/>
    <img width="100" height="100" src="assets/cars-brand/mercedes-benz.svg" alt="mercedes"
      class="item item5" loading="lazy"/>
    <img width="100" height="100" src="assets/cars-brand/chevrolet.svg" alt="chevrolet"
      class="item item6" loading="lazy"/>
    <img width="100" height="100"
      src="assets/cars-brand/ford.svg"
      alt="ford" class="item item7" loading="lazy"/>
    <img width="100" height="100" src="assets/cars-brand/ferrari.svg" alt="ferrari"
      class="item item8" loading="lazy"/>
    <img width="100" height="100" src="assets/cars-brand/bmw.svg" alt="bmw"
      class="item item9" loading="lazy"/>

  </div>

</div>
