<!-- Navbar Start -->
<nav class="container-fluid nav-bar sticky-top px-0 px-lg-4 py-2 py-lg-0 shadow-sm">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a routerLink="/home" class="navbar-brand p-0">
        <h1 class="display-6 fs-2 fw-medium"><i
            class="fa-sharp-duotone fa-solid fa-car-tunnel me-2 text-primary"></i>EasyWayRent
        </h1>
      </a>
      <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto py-0">
          <a routerLink="/home" class="nav-item nav-link" routerLinkActive="active">Home</a>
          <a routerLink="/about" class="nav-item nav-link" routerLinkActive="active">About</a>
          <a routerLink="/services" class="nav-item nav-link" routerLinkActive="active">Service</a>
          <a routerLink="/cars" class="nav-item nav-link" routerLinkActive="active">Our cars</a>
          <a routerLink="/contact" class="nav-item nav-link" routerLinkActive="active">Contact</a>
        </div>
        <button class="btn btn-primary rounded-pill px-4" routerLink="/login">
          Get Started
        </button>
      </div>
    </nav>
  </div>
</nav>
<!-- Navbar End -->

